bin/
obj/
/packages/
/.vs/WebClock/DesignTimeBuild/.dtbcache.v2
/.idea/.idea.WebClock/.idea/.gitignore
/.vs/WebClock/v16/.suo
/.idea/.idea.WebClock/.idea/contentModel.xml
/.idea/.idea.WebClock/.idea/encodings.xml
/.idea/.idea.WebClock/.idea/indexLayout.xml
/.idea/.idea.WebClock/.idea/modules.xml
/.idea/.idea.WebClock/.idea/projectSettingsUpdater.xml
/.idea/.idea.WebClock/riderModule.iml
/.idea/.idea.WebClock/.idea/vcs.xml
